ENABLE_API_TOKEN=false
API_TOKEN=
APP_ENV=production
LISTEN_HOST=0.0.0.0
LISTEN_PORT=5000

# (Required. Default: langdetect. Options: langdetect or fast_langdetect) Set this with language detection model library. langdetect was used as detection library in LibreTranslate while fast_langdetect were another faster alternative.
LANGUAGE_DETECTION_MODEL=langdetect

# (Optional. Default: false. Options: true or false) Parameters will be used when LANGUAGE_DETECTION_MODEL=fast_langdetect . Check https://github.com/LlmKira/fast-langdetect for more information
LOW_MEMORY_MODE=false